on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@a2d8d683f209466ee8c695cd994ae2cf08b1642d # v4
        with:
          release-type: java
          package-name: release-please-action
          extra-files: |
              buildSrc/src/main/groovy/xyz.keksdose.spoon.code_solver.java-common-conventions.gradle
